<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/mainLayout">

<head>
<title>Roles</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List of Roles</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<a class="btn btn-sm btn-default" th:href="@{/roles/new}"><i
									class="fa fa-plus-circle"></i> New Role</a>
							</div>
						</div>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th style="width: 10px">#</th>
								<th>Name</th>
								<th>Description</th>
								<th>Edit</th>

							</tr>
							<tr th:each="role,iterStat : ${roles}">
								<td><a th:href="@{/roles/{id}(id=${role.id})}"><span
										th:text="${iterStat.count}">1</span></a></td>
								<td th:text="${role.name}">Role Name</td>
								<td th:text="${role.description}">Role Description</td>
								<td><a th:href="@{/roles/{id}(id=${role.id})}"
										class="btn btn-sm btn-default">
										<i class="fa fa-edit"></i>Edit
									</a>
								</td>
							</tr>

						</table>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>