<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/mainLayout">

<head>
<title>Permissions</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List of Permissions</h3>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th style="width: 10px">#</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
							<tr th:each="perm,iterStat : ${permissions}">
								<td th:text="${iterStat.count}">1</td>
								<td th:text="${perm.name}">Permission Name</td>
								<td th:text="${perm.description}">Permission Description</td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>