language: java
sudo: false
install: true
env:
-CODACY_PROJECT_TOKEN=d19e4375803d40ff892b6a3a5727f0c5
before_install:
  - sudo apt-get install jq
  - wget -O ~/codacy-coverage-reporter-assembly-latest.jar $(curl https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r .assets[0].browser_download_url)
after_success:
  - java -cp ~/codacy-coverage-reporter-assembly-latest.jar com.codacy.CodacyCoverageReporter -l Java -r build/reports/jacoco/test/jacocoTestReport.xml
addons:
  sonarqube:
    token:
      secure: TxKSJMJHoXIZFRSd8oKSIPyEn+f2+PzTNtvP7yV8dUWbA01y36vCx7yrpOzBwR/HFzU/JajUUjzRpC288JSBYYnzqUAPeCSrlaA3U4quqTE+frx4dw6nmpbLPo3VvdPSXQEWDnPq/zJuWmhDQBtDa0XfRQaEsPREHGI4txv4vovg1hUyTYAda2nWThVXeG2XNJZIvBZKuS3NB7XqBJt3eM9jCV3vBnYAlsEbjTghLcsmbZwBLsEASqT7lMPXOFOhGFrfZucq+OCIQSFYaps0AP7avBqA04oXTD3WnRvV5lxHMuTUnt2ByvzRSsAHr1CZaMghU+mJEiFVVBe5A8sdBa4z84D3FqWgXjZrcOTNyms8kinrgrxMk0z9cUBR8P7gJ2y9AvKUSTAVW7TJPJiYPyVnWaxwR0m6Cjy5CLSQotwJzWxYdsecP90eRiGRTFnQszO/JvRmLCbwayrU+ayf7FCDxF6/VZfcEmRkVcXRIXYQzIrCUX7RPkFTUHBGD0LQjhrN4UwDrXhvm2MOzf8Q7Kzy1tmPIxkNiHnI9sM99cLCAxEoSVGwvNU2ojLcE7wsfRX/rRvEbRULQi3pXRDOSmgqE07welZf3uHcqDt8fnvrKs4rREzkc+HfuaSDGsWIITo+SWvIOefpRNP0GNkp+foxVKWdrGpSFO6CZKtKPgU=
jdk:
- oraclejdk8
script:
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
  - "$HOME/.m2/repository"
  - "$HOME/.sonar/cache"
env:
  global:
    secure: QM4JTfrl53wtQKtZjVMpLs82y0crelSepOX+2z+HNwOHM98eOnC2QibjYRcCuLAMR4x9aJQa7fNdnRrVZJ3SYVGUpNgbSBsAbMVjQILrtahEIG7l9Tjdf/RljEQmwInSIi7crtkiKufra6Ojtysvu5oFMCyuU6lwWsE2eoSBL39kUn2roip4K0Rxz6ScQG0fCJRN++3rqh69JkzMudq2PERhDsbwds2C0i0KjfJCbw3HbG7BvIwtw82+3jgdoWXU9mVRRWYkPO0C64RSl/Oo+bRyA4eYTWgixGHABATinM3zW9y8ZSeZhFzA0wVnXSND3sOfgXUj5EQ3y6zSwZjAvhkSeeodPPzSwZMUI5InCpnHUSnO7z6M0+v54tED/Q/BFkrcfoccQBnq5h7/veTKCXQXb01nyNu2ESmy3Lc7LtzrD8MD9lmqR5oukvE2uPNKJT2azyijiTNdWd3df4YtU0fcnM2O+EF/r4c/pa/LlH59evnxZvVg1yh8A5smLZ1yc5AQLZJVWj+xrySrYis6C6wXeUmfxy+sXzneezRrfT/TfUvGxbEw6pTPH9oelUlY41ZNK9rBoeagGvOry2PQFd0j9GB84vi6XnfohmbFcDcntSTT5fk4bV5Q6j7I6fR6Dm/ZhMfeF6smRZP9mviolF4QMvFVN3IogDnlZo2mADM=
