<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Home</title>
    </head>
    <body>
    	<div layout:fragment="pageHeader">
        <section class="content-header">
        	<h1>
            	JCart Administration
            	<small>Manage JCart Site Content</small>
          	</h1>
        </section>
        </div>
    	<div layout:fragment="content">
	        <p>Welcome User!</p>
    	</div>
    	
    </body>
    
</html>